
<div class="container" style="margin: {{section.settings.margin}}px auto !important;">
    <div class="row align-items-center">
      {%- comment -%}
      animate__animated animate__fadeInLeft animate__delay-2s
      {%- endcomment -%}
        <div class="col-lg-6 ">
            {% if section.settings.about_heading != blank %}
                <div class="heading-block">
                    <h4 class="about-heading">{{ section.settings.about_heading }}</h4>
                </div>
            {% endif %}
            <p class="font_15">
                {{ section.settings.about_desc }}
            </p>
        </div>
        <div class="col-lg-6 align-self-end">
            <div class="position-relative overflow-hidden ">
                <img width="" height="" loading="lazy" src="{{ section.settings.about_image | img_url: 'master' }}" alt="Chrome">
                {%- comment -%}
                animate__animated animate__fadeInRight animate__delay-2s
                <!-- <img width="" height="" loading="lazy" src="images/services/mc_illus.png" style="top: 0; left: 0; min-width: 20%; min-height: 20%;" data-animate="fadeInUp" data-delay="400" alt="iPhone" class="position-absolute"> -->
                {%- endcomment -%}
            </div>
        </div>
    </div>
</div>
  
  {% schema %}
{
  "name": "About Company",
  "settings": [
    {
      "type": "image_picker",
      "id": "about_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "about_heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "about_desc",
      "label": "Description"
    },
    {
      "type": "range",
      "id": "margin",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margins",
      "default": 0
      }
  ],
  "presets": [
    {
      "name": "About Company"
    }
  ]
}
{% endschema %}
  
  {% stylesheet %}
  .about-heading{
    font-size:20px !important;
  }
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}
  