
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 animate__animated animate__fadeInLeft animate__delay-2s">
            {% if section.settings.about_heading != blank %}
                <div class="heading-block">
                    {{ section.settings.about_heading }}
                </div>
            {% endif %}
            <p class="lead">
                {{ section.settings.about_desc }}
            </p>
        </div>
        <div class="col-lg-6 align-self-end">
            <div class="position-relative overflow-hidden animate__animated animate__fadeInRight animate__delay-2s">
                <img width="" height="" loading="lazy" src="{{ section.settings.about_image | image_url: 'master' }}" alt="Chrome">
                <!-- <img width="" height="" loading="lazy" src="images/services/mc_illus.png" style="top: 0; left: 0; min-width: 20%; min-height: 20%;" data-animate="fadeInUp" data-delay="400" alt="iPhone" class="position-absolute"> -->
            </div>
        </div>
    </div>
</div>
  
  {% schema %}
  {
  "name": "About Company",
  "settings": [
  {
  "type": "image_picker",
  "id": "about_image",
  "label": "Image"
  },
  {
  "type": "text",
  "id": "about_heading",
  "label": "Heading"
  },
  {
  "type": "textarea",
  "id": "about_desc",
  "label": "Description"
  }
  ],
  "presets": [ { "name": "About Company" } ]
  }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}
  